.btn {
	padding: 15px 33px;
	background-color: $white;
	border-radius: 25px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	-ms-border-radius: 25px;
	-o-border-radius: 25px;
	color: $green;
	font-size: 19px;
	font-weight: 800;
	text-transform: uppercase;
	margin-top: 32px;
}