.reviews__comment {
	padding:54px 0 53px 20px ;
	width: 50%;
}

.comment__title {
	font-size: 30px;
	color: #323232;
	font-weight: 500;
}

.comment__text ,.comment__author {
	font-size: 18px;
	font-weight: normal;
	color: #666;
}

.comment__author {
	font-weight: 500;
	padding-top: 22px;
}
