.why__chocco {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 102px;
}

.why__text {
    font-size: 18px;
    color: #666;
}

.why__title {
    margin-bottom: 20px;
    font-size: 48px;
}


.why__desc {
    font-weight: normal;
    width: 49%;
    text-align: center;
}