.why__features-pic {
	width: 125px;
	height: 125px;
	background-color: #f2f5f4;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
}

.why__features-img {
    width: 66px;
    height: 69px;
}